//= require_self
.authorizations-list a[href="/authorizations/new?handler=simple_impersonation_handler"],
.authorizations-list .simple_impersonation_handler--granted  {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.authorizations-list .authorizations-list {
  min-height: 2rem;
}